.DS_Store

# Object Files
*.a
*.o
*.mod

# Exclude all files in the bin and env and idea folder
bin/*
SR-env/*
docs/*
.idea/*
/home/rileyannereid/workspace/Stanford_Raytracer/example_scripts/__pycache__/*

# Make sure we include the folder itself tho
!bin/.gitkeep

