[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
datetime = "*"
pandas = "*"
skyfield = "*"
spacepy = {git = "https://github.com/rareid2/spacepy.git",ref = "master"}
ffmpeg = "*"
ffmpeg-python = "*"
xlsxwrite = "*"
xlsxwriter = "*"

[requires]
python_version = "3.7"
