[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
subprocess = "*"
os = "*"
datetime = "*"
jupyterlab = "*"
notebook = "*"
itertools = "*"
pandas = "*"
time = "*"
random = "*"
raytracer-utils = "*"
pickle = "*"
mpl-toolkits-mplot3d = "*"
mpl-toolkits-axes-grid1 = "*"
scipy = "*"
spacepy = "*"

[requires]
python_version = "2.7"
